<section class="instagram">
  <h6 class="visually-hidden">Форма и Истаграм</h6>
  <div class="container instagram__container">
    <div class="instagram__left">
      <form action="#" class="callback-form">
        <h6 class="title instagram__title">Есть вопросы?</h6>
        <p class="instagram__descr">Заполните форму и&nbsp;наш менеджер свяжется с&nbsp;вами</p>
        <input type="text" class="input instagram__input" placeholder="Ваше имя">
        <input type="tel" class="input instagram__input" placeholder="Номер телефона">
        <button class="btn-reset btn btn--primary instagram__btn">Отправить</button>
      </form>
    </div>
    <div class="instagram__right">
      <a class="instagram__link" href="#">
        <img src="img/instagram.png" alt="Инстаграм">
      </a>
      <div class="instagram__content">
        <article class="instagram__item">
          <a href="#" target="_blank">
            <img src="img/1.jpg"
                 alt="Кроссовки">
          </a>
        </article>
        <article class="instagram__item">
          <a href="#" target="_blank">
            <img src="img/2.jpg"
                 alt="Кроссовки">
          </a>
        </article>
        <article class="instagram__item">
          <a href="#" target="_blank">
            <img src="img/3.jpg"
                 alt="Кроссовки">
          </a>
        </article>
        <article class="instagram__item">
          <a href="#" target="_blank">
            <img src="img/4.jpg"
                 alt="Кроссовки">
          </a>
        </article>
        <article class="instagram__item">
          <a href="#" target="_blank">
            <img src="img/5.jpg"
                 alt="Кроссовки">
          </a>
        </article>
      </div>
    </div>
  </div>
</section>
