<section class="team">
  <img src="img/team-figure.svg" alt="#" class="team__figure" aria-hidden="true">
  <div class="container">
    <h4 class="title team__title">Наша команда</h4>
    <ul class=" team__list list-reset grid">
      <li class="team__item">
        <img src="img/team-1.jpg" class="team__img" alt="Наш сотрудник">
        <strong class="team__subtitle">Наш сотрудник</strong>
        <span class="team__descr">Должность</span>
      </li>
      <li class="team__item">
        <img src="img/team-2.jpg" class="team__img" alt="Наш сотрудник">
        <strong class="team__subtitle">Наш сотрудник</strong>
        <span class="team__descr">Должность</span>
      </li>
      <li class="team__item">
        <img src="img/team-3.jpg" class="team__img" alt="Наш сотрудник">
        <strong class="team__subtitle">Наш сотрудник</strong>
        <span class="team__descr">Должность</span>
      </li>
      <li class="team__item">
        <img src="img/team-4.jpg" class="team__img" alt="Наш сотрудник">
        <strong class="team__subtitle">Наш сотрудник</strong>
        <span class="team__descr">Должность</span>
      </li>
      <li class="team__item">
        <img src="img/team-5.jpg" class="team__img" alt="Наш сотрудник">
        <strong class="team__subtitle">Наш сотрудник</strong>
        <span class="team__descr">Должность</span>
      </li>
      <li class="team__item">
        <img src="img/team-6.jpg" class="team__img" alt="Наш сотрудник">
        <strong class="team__subtitle">Наш сотрудник</strong>
        <span class="team__descr">Должность</span>
      </li>
    </ul>
  </div>
</section>
